<mat-card *ngFor="let photo of photos">
    <mat-card-header>
        <div mat-card-avatar style="background-size: cover;background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');"></div>
        <mat-card-title>
            {{photo.title}}
        </mat-card-title>
        <mat-card-subtitle>
            {{photo.title}}
        </mat-card-subtitle>
    </mat-card-header>
    
    <img [src]="photo.thumbnailUrl" mat-card-image>
    <mat-card-content>
        <p>Album Id: {{photo.albumId}}</p>
        <p>Id: {{photo.id}}</p>
    </mat-card-content>
    <mat-card-actions>
        <a mat-button mat-raised-button [href]="photo.url" target="_blank">
            Show Image
        </a>
        <button mat-button mat-flat-button color="primary" (click)="click()">
            Click!
        </button>
    </mat-card-actions>
</mat-card>
